@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
  background-color: black;
  font-family: Jua;
  size: 100%
}
table {
  border-collapse: collapse;
  border-width: 10px;
  width: 50%;
  height: 50%;
  margin: auto;
  font-size: 25px;
}
td {
  padding: 5px 10px;
  text-align: center;
  color: white;
}
input {
  text-align: right;
  border: none;
  background-color: black;
  color: white;
  font-size: 30px;
}
input:focus {
  outline: none;
  color: white;
}
